:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  font-family: "Kumbh Sans";
  font-size: 12px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

dl,
dd {
  margin: 0;
}

main {
  margin: 0 1.5rem 0;
  padding-top: .1px;
}


.faq {
  position: relative;
  margin: 148px 0 85px;
  padding: 0.1px 1.5em 3em;
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 50%);
}
.faq::before,
.faq::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.faq::before {
  top: -108px;

  width: 237px;
  height: 180px;

  background-image: url(../images/illustration-woman-online-mobile.svg);
  background-position: right top;
}

.faq::after {
  top: -41px;
  z-index: 10;

  width: 240px;
  height: 145px;

  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.faq-bg-top,
.faq-bg-bottom {
  display: none;
}

.faq h1 {
  margin-top: 132px;
  margin-bottom: 38px;

  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 32px;
  color: #1E1F36;
}

.faq button {
  position: relative;
  padding: 0 16px 0 0;
  border: none;
  background: transparent;

  width: 100%;

  font-size: 13px;
  text-align: left;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
  transition: color .3s;
}

.faq button[aria-expanded="true"] {
  font-weight: 700;
}

.faq dt:hover button {
  color: var(--soft-red);
}

.faq button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);

  width: 10px;
  height: 7px;

  background-image: url(../images/icon-arrow-down.svg);
  background-size: cover;

  transition: transform .3s;
}

.faq button[aria-expanded="true"]:after {
  transform: translateY(-50%) rotate(180deg);
}

.faq dd p {
  display: none;
  margin-top: 12px;
  margin-bottom: 0;

  line-height: 18px;
  color: var(--dark-grayish-blue);
}

.faq dl > div:after {
  content: "";
  display: block;
  
  margin-top: 1em;
  margin-bottom: 1em;

  border: 1px solid var(--light-grayish-blue);
}

@media screen and (min-width: 1144px) {

  body {
    display: grid;
    place-items: center;
  }

  .faq {
    width: 920px;
    height: 509px;

    margin: 0 auto;
    padding: .1px 111px 85px 475px;
  }

  .faq:before,
  .faq:after { content: none; }

  .faq-bg-top,
  .faq-bg-bottom {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 445px;
  }

  .faq-bg-top { overflow: hidden; }

  .faq-bg-top:before,
  .faq-bg-top:after,
  .faq-bg-bottom:before {
    content: "";
    position: absolute;
  }

  .faq-bg-top:after {
    top: 70px;
    left: -84px;
    z-index: 1;

    width: 472px;
    height: 359px;

    background-image: url(../images/illustration-woman-online-desktop.svg);
  }

  .faq-bg-top:before {
    top: -294px;
    left: -576px;

    width: 964px;
    height: 944px;

    background-image: url(../images/bg-pattern-desktop.svg);
  }

  .faq-bg-bottom:before {
    top: 206px;
    left: -45px;
    z-index: 2;

    width: 90px;
    height: 109px;

    background-image: url(../images/illustration-box-desktop.svg);
    background-position: top center;
  }

  .faq h1 {
    margin-top: 65px;
    margin-bottom: 43px;
    text-align: left;
  }

  .faq dl { width: 350px; }

  .faq button {
    font-size: 14px;
    padding-right: 32px;
  }

  .faq button:after { right: 16px; }
}