:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);  
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Inter";

  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 285px 72px;
  background-position: bottom left;

  @media screen and (min-width: 768px) {
    background-size: 610px 151px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 24px;
  padding-top: 0.1px;

  @media screen and (min-width: 1300px) {
    margin: 0;
  }
}

.slideshow {
  position: relative;
  margin-top: 24px;
  margin-bottom: 75px;
  max-width: 328px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    max-width: min-content;
  }
  
  @media screen and (min-width: 1300px) {
    max-width: none;
    width: 100%;
    margin-bottom: 0;
  }
}

.slideshow__nav {
  position: absolute;
  top: 285px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;

  box-shadow: 0 15px 20px -10px rgba(36,36,113,0.1);
  border-radius: 28px;

  button {
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    border: 0;
  }

  > :first-child {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }

  > :last-child {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }

  @media screen and (min-width: 768px) {
    top: 430px;
  }

  @media screen and (min-width: 1300px) {
    top: 602px;
    right: 572px;
    left: auto;
    transform: translateY(-50%);
  }
}

.slideshow__items {
  position: relative;
}

.slideshow-item {
  margin: 0;
  text-align: center;

  @media screen and (min-width: 1300px) {
    display: flex;
    justify-content: end;
    text-align: left;
    margin-right: 73px;
  }

  &__thumbnail {
    margin-bottom: 32.5px;
    padding: 30px 36px 23px;

    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;

    @media screen and (min-width: 1300px) {
      order: 1;
      width: min-content;
      margin-bottom: 0;
      padding: 63px 92px 54px 63px;
    }
  }

  img {
    width: 100%;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 0 40px 50px -30px rgba(36,36,113,0.5);

    @media screen and (min-width: 768px) {
      width: 400px;
    }

    @media screen and (min-width: 1300px) {
      width: 540px;
    }
  }

  &__content {
    @media screen and (min-width: 1300px) {
      max-width: 635px;
      margin-top: 101px;
      transform: translateX(128px);
    }
  }

  blockquote {
    margin: 0 0 19px;
    padding-top: 25px;
    
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: var(--dark-blue);

    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position: top center;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 38px
    }

    @media screen and (min-width: 1300px) {
      margin-bottom: 32px;
      padding-top: 64px;

      font-size: 32px;
      line-height: 44px;

      background-size: 120px 100px;
      background-position: 94px top;
    }
  }

  figcaption {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;

    span {
      display: block;
      font-weight: 500;
      color: var(--grayish-blue);
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 38px;

      span {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}

.slideshow__items > :not(.slideshow--current) {
  display: none;
}